<div class="page-header">
	<h1>New Datasource <small>Create a new datasource</small></h1>
</div>

<div>
	<%= form_for @datasource, :html => {:class => "", :method => @datasource.id ? "put" : "post"} do |f| %>
	<% @datasource.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
	
	  <label class="control-label">Name</label>
	  <%= f.text_field :name %>
	
	  <label class="control-label">Type</label>
	  <%= f.collection_select(:datasource_type_id, DatasourceType.all, :id, :name) %>
		
	  <%= f.fields_for :config do |c| %>
	
	  	  <label class="control-label">Host</label>
	  	  <%= c.text_field :host, :value => @datasource.config['host']%>
		
		  <label class="control-label">User</label>
		  <%= c.text_field :user, :value => @datasource.config['user'] %>
			
		  <label class="control-label">Password</label>
		  <%= c.password_field :password, :value => @datasource.config['password'] %>

		  <label class="control-label">Database</label>
		  <%= c.text_field :database, :value => @datasource.config['database'] %>
	  <% end %>
	  
	  <div class="form-actions">
		<%= f.submit "Create", :class => 'btn btn-primary' %>
		<button type="button" class="btn">Reset</button>
	  </div>
	
	<% end %>
</div>