<% content_for :js_init_code do %>
	window.App = new ChaiIo.Views.NewDatasource({el: $('#dv_dsource')});
<% end %>

<div class="page-header">
	<h1>New Datasource <small>Create a new datasource</small></h1>
</div>

<div id="dv_dsource">
	<%= form_for @datasource, :html => {:class => "", :method => @datasource.id ? "put" : "post"} do |f| %>
	<% @datasource.errors.full_messages.each do |msg| %>
		<div class="alert alert-error"><%= msg %></div>
	<% end %>
	
	  <label class="control-label">Name</label>
	  <%= f.text_field :name, :class => 'form-control', :placeholder => 'Name' %>
	
	  <label class="control-label">Type</label>
	  <%= f.collection_select(:datasource_type_id, DatasourceType.all, :id, :name) %>
		
		<br/>
	  <%= f.fields_for :config do |c| %>
	
	  	  <label class="control-label">Host</label>
	  	  <%= c.text_field :host, :value => (@datasource.config['host'] if @datasource.config?), :class => 'form-control', :placeholder => 'Host'%>
		
		  <label class="control-label">User</label>
		  <%= c.text_field :user, :value => (@datasource.config['user'] if @datasource.config?), :class => 'form-control', :placeholder => 'User' %>
			
		  <label class="control-label">Password</label>
		  <%= c.password_field :password, :value => (@datasource.config['password'] if @datasource.config?), :class => 'form-control', :placeholder => 'Password' %>

		  <label class="control-label">Database</label>
		  <%= c.text_field :database, :value => (@datasource.config['database'] if @datasource.config?), :class => 'form-control', :placeholder => 'Database' %>
	  <% end %>
	  
	  <div class="form-actions">
		<%= f.submit "Create", :class => 'btn btn-primary' %>
		<button type="button" class="btn" id="btn_test_connection">Test Connection</button>
	  </div>
	
	<% end %>
</div>