<div class="page-header">
	<h1><%=@user.id ? 'My Account' : 'Sign Up'%></h1>
</div>

<div class="">
	
	<%= form_for @user, :html => {:class => "", :method => @user.id ? "put" : "post"} do |f| %>
	<% @user.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
	
	  <label class="control-label">Name</label>
	  <%= f.text_field :name, :disabled => true, :class => 'form-control' %>
	
	  <label class="control-label">Email</label>
	  <%= f.text_field :email, :disabled => true, :class => 'form-control' %>
	  <hr/>	
	
	  <h3>Change Password</h3>
	  <label class="control-label">Password</label>
	  <%= f.password_field :password, :value => '', :placeholder => 'Current Password', :class => 'form-control' %>
	
	  <label class="control-label">New Password</label>
	  <%= f.password_field :new_password, :class => 'form-control', :placeholder => 'New Password' %>
	
	  <label class="control-label">Confirm New Password</label>
	  <%= f.password_field :new_password_confirm, :class => 'form-control', :placeholder => 'Confirm Password' %>	
	
	
	  <div class="form-actions">
		<%= f.submit @user.id ? "Save" : "Create", :class => 'btn btn-primary' %>
		<button type="button" class="btn">Reset</button>
	  </div>
	
	<% end %>
</div>