<h1>Add New User </h1>

<%= form_for [:admin, @user], :html => {:class => "form", :method => @user.new_record? ? "post" : "put"} do |f| %>

	<% @user.errors.full_messages.each do |msg| %>
		<div class="alert alert-error"><%= msg %></div>
	<% end %>

	<%= f.text_field :name, :class => 'form-control', :placeholder => 'Name' %>

	<%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>

	<%= f.password_field :password, :class => 'form-control', :placeholder => 'Password' %>

	<%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password' %>

	<div class="form-actions">
		<button class="btn btn-primary" name="commit" id="commit" type="submit">Save</button>
	 </div>

<% end %>

