<% content_for :js_init_code do %>
	ChaiIo.initialize();
	window.App = new ChaiIo.Views.ReportsListView({el: $('.container')});
<% end %>

<div class="page-header">
	<h1>Your Reports</h1>
</div>

<div class="">
	<form class="form-search">
    	<input id="search_keywords" type="text" class="input-medium search-query" placeholder="search">
		<input id="report_search" type="button" class="btn" value="Search">
    </form>

	<table class="table table-striped">
		
		<thead>
			<tr>
				<th>Title</th>
				<th>Type</th>
				<th>Datasource</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		
		<tbody>
			<% @reports.each do |r|%>
				<tr>
					<td>
						<%= link_to r.title, r %>
					</td>
					<td><%= r.report_type %></td>
					<td><%= r.datasource.name %></td>
					<td>
						<%= link_to 'Edit', edit_report_path(r) %>
					</td>
					<td>
						<%= link_to 'Delete', report_path(r), :method => :delete, :confirm => "Are you sure?"  %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>