<% content_for :js_init_code do %>
	//re-factor .. write a backbone view for this
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/textmate");
	editor.getSession().setMode("ace/mode/sql");
	
	editor.setValue($('#query').val());
	
	if (editor.getValue().trim() != '') {
		editor.selection.setSelectionRange({start:0, end:0});
	}
	
	$('form').submit(function(){
		$('#query').val(editor.getValue());
		return true;
	});
<% end %>

<div class="page-header">
	<h1><%=@report.id ? 'Edit' : 'New'%> Report <small><%=@report.id ? '' : 'Create a new report'%></small></h1>
</div>

<div class="">
	
	<%= form_for @report, :html => {:class => "", :method => @report.id ? "put" : "post"} do |f| %>
	<% @report.errors.full_messages.each do |msg| %>
	      <p><%= msg %></p>
	<% end %>
	
	  <label class="control-label">Title</label>
	  <%= f.text_field :title %>

	  <label class="control-label">Description</label>
	  <%= f.text_area :description, :size => '200x2'%>
	
	  <label class="control-label">Datasource</label>
	  <%= f.collection_select(:datasource_id, current_user.datasources, :id, :name) %>

	  <label class="control-label">Report Type</label>
	  <div class="form-inline">	
	  	  <%= f.radio_button(:report_type, "table") %>
		  <%= label_tag(:table, "Table", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "single_value") %>
		  <%= label_tag(:single_value, "Single Value", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "bar_chart") %>
		  <%= label_tag(:bar_chart, "Bar Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "line_chart") %>
		  <%= label_tag(:bar_chart, "Line Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "bar_line_chart") %>
		  <%= label_tag(:bar_chart, "Bar and Line Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "pie_chart") %>
		  <%= label_tag(:bar_chart, "Pie Chart", :class=>'radio_label') %>
	  </div>
		
	  <%= f.fields_for :config do |c| %>
	  	  <label class="control-label">Query</label>
	  	  <div id="editor"></div>
		<%= c.text_area :query, :size => '500x5', :class => 'span12 query', :id=>'query', :value => @report.config['query'] %>
	  <% end %>
	
	  <label class="control-label filters">Filters</label>
	  <%= f.fields_for :filters do |fi| %>
			<div class="form-inline">
				<label class="control-label">Type</label>
				<select class="input-medium" name="report[filters][0][type]">
					<option value="date">Date</option>
				</select>

				<label class="control-label">Placeholder</label>
				<input type="text" size="30" 
					name="report[filters][0][placeholder]" id="report_filters_placeholder" 
					 value="<%=@report.filters["0"]['placeholder'] if @report.filters && @report.filters["0"]%>">
			</div>
			
			<div class="form-inline">
				<label class="control-label">Type</label>
				<select class="input-medium" name="report[filters][1][type]">
					<option value="date">Date</option>
				</select>

				<label class="control-label">Placeholder</label>
				<input type="text" size="30" name="report[filters][1][placeholder]" id="report_filters_placeholder"
					value="<%=@report.filters["1"]['placeholder'] if @report.filters && @report.filters["1"]%>">
			</div>
	  <% end %>
	
	
	  <%= f.fields_for :config do |c| %>
	   <!-- <label class="control-label">Cache Time (Seconds)</label>	
	    <%= c.text_field :cache_time %>-->
	  <% end %>

	  <div class="form-actions">
		<%= f.submit @report.id ? "Save" : "Create", :class => 'btn btn-primary' %>
		<button type="button" class="btn">Reset</button>
	  </div>
	
	<% end %>
</div>