<% content_for :js_init_code do %>
	window.App = new ChaiIo.Views.NewReport({el: $('#main_container')});
	window.App.render();
<% end %>

<%= page_heading_for_resource @report %>

<% if @project %>

	<div class="">

		<%= form_for [@project, @report], :html => {:class => "form", :method => @report.new_record? ? "post" : "put"} do |f| %>
		<% @report.errors.full_messages.each do |msg| %>
			<div class="alert alert-error"><%= msg %></div>
		<% end %>

		  <label class="control-label">Title</label>
		  <%= f.text_field :title, :class => 'form-control', :placeholder => 'Title' %>

		  <label class="control-label">Description</label>
		  <%= f.text_area :description, :size => '100x2', :class => 'form-control', :placeholder => 'Description' %>


		  <label class="control-label">Tags</label>
		  <%= f.text_field :tag_list, :class => 'form-control' %>


		  <label class="control-label">Datasource</label>
		  <%= f.collection_select(:datasource_id, current_user.datasources, :id, :name) %>

		  <br/>

		  <label class="control-label">Report Type</label>
		  	<%= f.select(:report_type, Report.REPORT_TYPES.map { |key, value| [ value, key ] }) %>
		  <br/>

		  <%= f.fields_for :config do |c| %>
		  	<label class="control-label">Query</label>
			 	<small>Prefix filter placeholders with a ':'. Do NOT put a placeholder in quotes, they are always added by the system.</small>

		  	  <div id="editor"></div>
			  <%= c.text_area :query, :class => 'query form-control', :id=>'query', :value => @report.config['query'] %>
		  <% end %>


		  <% if @caching_enabled %>
			  <label class="control-label">Cache Time (Seconds)</label>
			  <%= f.text_field :cache_time, :value => '900' %>
		  <% end %>

		  <!-- Button to trigger modal -->
		  <div>
		  	<a id="btn-advanced" data-toggle="modal" href="#myModal" class="btn btn-default" style="margin-top: 10px !important;">Advanced Settings</a>
		  </div>

			<br/>
		  <div class="form-actions">
				<button class="btn btn-primary" name="commit" id="commit" type="button">Save</button>
				<button type="button" class="btn">Reset</button>
		  </div>


	<!-- Templates -->
	<script type="text/html" id="tpl_settings">

	  <!-- Modal -->
	  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">

	      <div class="modal-content">

	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Advanced Settings</h4>
	        </div> <!-- /modal-header -->

	        <div class="modal-body">

	          	<ul class="nav nav-tabs" id="tabSettings">
					      <li class="active"><a href="#filters">Filters</a></li>
				        <li><a href="#aggregation">Aggregation</a></li>
				  	    <li><a href="#link">Link Report</a></li>
              </ul> <!-- /tabSettings -->


				<div class="tab-content" style="align: center;">

				  <div class="tab-pane active" id="filters">
          	<label class="control-label filters">Filters</label>
					  <small>You cannot use a filter with the placeholder 'id'</small>

            <div class="panel-group" id="accordion">
					  <%= f.fields_for :filters do |fi| %>

              <% [0,1].each do |i| %>
              <%
                @report.filters ||= {}
                @report.filters["#{i}"] ||= {}
              %>

                <div class="panel panel-default">
                 <div class="panel-heading">
                   <h4 class="panel-title">
                     <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i+1%>">
                       Filter # <%=i+1%>
                     </a>
                   </h4>
                 </div>

                   <div id="collapse<%=i+1%>" class="panel-collapse collapse <%= "in" if i == 0 %>">
                       <div class="panel-body">

            							<div class="form-inline">
            								<label class="control-label">Type</label>
            								<select class="input-medium" name="report[filters][<%=i%>][type]">
            									<option value="date" <%="SELECTED" if @report.filters["#{i}"] && @report.filters["#{i}"]['type']=='date'%> >Date</option>
            									<option value="text" <%="SELECTED" if @report.filters["#{i}"] && @report.filters["#{i}"]['type']=='text'%>>Text</option>
            									<option value="number" <%="SELECTED" if @report.filters["#{i}"] && @report.filters["#{i}"]['type']=='number'%>>Number</option>
            								</select>

            								<input type="text" size="30"
            									name="report[filters][<%=i%>][placeholder]" id="report_filters_placeholder#{i+1}"
            									value="<%=@report.filters["#{i}"]['placeholder'] if @report.filters && @report.filters["#{i}"]%>"
            									placeholder="Placeholder"
            									class="form-control"
            									style="">

            								<input type="text" size="30" name="report[filters][<%=i%>][default_value]" id="report_filters_default#{i+1}"
            									value="<%=@report.filters["#{i}"]['default_value'] if @report.filters && @report.filters["#{i}"]%>"
            									placeholder="Default Value" class="form-control">

                              <hr/>

                              <% (0..2).to_a.each do |j| %>
                                <%
                                  @report.filters ||= {}
                                  @report.filters["#{i}"] ||= {}
                                  @report.filters["#{i}"]['pd_values'] ||= {}
                                  @report.filters["#{i}"]['pd_values']["#{j}"] ||= {}
                                %>
                                <div class="row" style="margin: 5px 5px 5px 5px;">

                                  <input type="text" class="form-control" style="width: 200px;" placeholder="Title"
                                  name="report[filters][<%=i%>][pd_values][<%=j%>][title]"
                                  value="<%=@report.filters["#{i}"]['pd_values']["#{j}"]['title']%>"/>

                                  <input type="text" class="form-control" style="width: 200px;" placeholder="Value"
                                  name="report[filters][<%=i%>][pd_values][<%=j%>][value]"
                                  value="<%=@report.filters["#{i}"]['pd_values']["#{j}"]['value']%>"/>

                                </div>
                              <% end %>

            							</div>

                      </div>
                      </div>
                    </div>
              <% end %>

					  <% end %>
            </div>

				 </div> <!-- /Filters -->



				  <%= f.fields_for :config do |c| %>

					  <div class="tab-pane" id="aggregation">
					  	<div id="aggregation_config">
					  	  	<label class="control-label filters">Aggregation</label>
					  	  	<small>Only applies to Table report types. Enter list of fields, comma separated in each supported aggregation </small>
					  	  	<br/>
					  	  	<label>Sum</label>
							<%= c.text_field :sum, :value => @report.config['sum'], :class => 'form-control' %>

							<label>Average</label>
							<%= c.text_field :average, :value => @report.config['average'], :class => 'form-control' %>
				  	  	</div>
					  </div> <!-- /Aggregation -->


					  <div class="tab-pane" id="link">
					  	<label class="control-label">Column to link</label>
					 	<%= c.text_field :link_column, :value => @report.config['link_column'], :class => 'form-control' %>

					 	<label class="control-label">Linked to Report</label>
					 	<%= c.collection_select(:link_report, current_user.reports, :id, :title) %>
					 	<br/>
					 	<label class="control-label">For Filter</label>
						<%= c.text_field :link_filter, :value => @report.config['link_filter'], :class => 'form-control' %>
					  </div>

				 <% end %>
	        </div> <!-- /.modal-body -->

	        <div class="modal-footer">
	          <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	        </div>

	      </div><!-- /.modal-content -->
	    </div><!-- /.modal-dialog -->
	  </div><!-- /.modal -->

	</script>


		<% end %>
	</div>

<% else %>

	<div style="align: center;">
		You need to create a project before you can create a New Report. <%= link_to 'Click Here', new_project_path %> to get started.
	</div>

<% end %>
