<% content_for :js_init_code do %>
	window.App = new ChaiIo.Views.NewReport({el: $('.container')});
	window.App.render();
<% end %>

<div class="page-header">
	<h1><%=@report.new_record? ? 'New' : 'Edit'%> Report <small><%=@report.new_record? ? 'Create a new report' : ''%></small></h1>
</div>

<div class="">
	
	<%= form_for @report, :html => {:class => "form", :method => @report.new_record? ? "post" : "put"} do |f| %>
	<% @report.errors.full_messages.each do |msg| %>
		<p><%= msg %></p>
	<% end %>
	
	  <label class="control-label">Title</label>
	  <%= f.text_field :title %>

	  <label class="control-label">Description</label>
	  <%= f.text_area :description, :size => '200x2'%>
	
	  <label class="control-label">Datasource</label>
	  <%= f.collection_select(:datasource_id, current_user.datasources, :id, :name) %>

	  <label class="control-label">Report Type</label>
	  <div class="form-inline">	
	  	  <%= f.radio_button(:report_type, "table") %>
		  <%= label_tag(:table, "Table", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "single_value") %>
		  <%= label_tag(:single_value, "Single Value", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "bar_chart") %>
		  <%= label_tag(:bar_chart, "Bar Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "line_chart") %>
		  <%= label_tag(:bar_chart, "Line Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "bar_line_chart") %>
		  <%= label_tag(:bar_chart, "Bar and Line Chart", :class=>'radio_label') %>

		  <%= f.radio_button(:report_type, "pie_chart") %>
		  <%= label_tag(:bar_chart, "Pie Chart", :class=>'radio_label') %>
	  </div>
		
	  <%= f.fields_for :config do |c| %>
	  	  <label class="control-label">Query</label>
		  <small>Prefix filter placeholders with a ':'. Do NOT put a placeholder in quotes, they are always added by the system.</small>
		
	  	  <div id="editor"></div>
		  <%= c.text_area :query, :size => '500x5', :class => 'span12 query', :id=>'query', :value => @report.config['query'] %>
	  <% end %>
	
	  <label class="control-label filters">Filters</label>
	  <small>You cannot use a filter with the placeholder 'id'</small>
	  <%= f.fields_for :filters do |fi| %>
			<div class="form-inline">
				<label class="control-label">Type</label>
				<select class="input-medium" name="report[filters][0][type]">
					<option value="date" <%="SELECTED" if @report.filters && @report.filters["0"]['type']=='date'%> >Date</option>
					<option value="text" <%="SELECTED" if @report.filters && @report.filters["0"]['type']=='text'%>>Text</option>
					<option value="number" <%="SELECTED" if @report.filters && @report.filters["0"]['type']=='number'%>>Number</option>
				</select>

				<label class="control-label">Placeholder</label>
				<input type="text" size="30" 
					name="report[filters][0][placeholder]" id="report_filters_placeholder1" 
					 value="<%=@report.filters["0"]['placeholder'] if @report.filters && @report.filters["0"]%>">
			</div>
			
			<div class="form-inline">
				<label class="control-label">Type</label>
				<select class="input-medium" name="report[filters][1][type]">
					<option value="date" <%="SELECTED" if @report.filters && @report.filters["1"]['type']=='date'%> >Date</option>
					<option value="text" <%="SELECTED" if @report.filters && @report.filters["1"]['type']=='text'%>>Text</option>
					<option value="number" <%="SELECTED" if @report.filters && @report.filters["1"]['type']=='number'%>>Number</option>
				</select>

				<label class="control-label">Placeholder</label>
				<input type="text" size="30" name="report[filters][1][placeholder]" id="report_filters_placeholder2"
					value="<%=@report.filters["1"]['placeholder'] if @report.filters && @report.filters["1"]%>">
			</div>
	  <% end %>
	
	
	  <% if @caching_enabled %>
		  <label class="control-label">Cache Time (Seconds)</label>	
		  <%= f.text_field :cache_time, :value => '900' %>
	  <% end %>
	
	
	  <div class="form-actions">
		<button class="btn btn-primary" name="commit" id="commit" type="button">Save</button>
		<button type="button" class="btn">Reset</button>
	  </div>
	
	<% end %>
</div>