<% if !@connection_error && !@query_error %>

	<% content_for :js_init_code do %>
		var model = new ChaiIo.Models.Report().set({
			report: <%= @report.to_json.html_safe %>,
			report_type: '<%= @report.report_type %>',
			columns: <%= @columns.html_safe %>,
			data: <%= @data.html_safe %>});
	
		window.App = new ChaiIo.Views.Reports<%=@report.report_type.capitalize%>({
			model: model,
			el: $('#content')});
	
		window.App.render();
	<% end %>

	<h1><%= @report.title %></h1>
	<%= @report.description %>
	<hr>

	<% if @report.filters && @query_params %>
		<form id="form_filters" class="form-inline filters-form" method="GET" action="/reports/<%=@report.id%>">
			
			<% @report.filters.each do |i, fi|%>
				<% if fi && fi['placeholder']!=''%>
					<label class="control-label"><%=fi['placeholder'].capitalize%></label>
					<input type="text" class="datepicker input-small" data-behaviour='datepicker' 
						name="<%=fi['placeholder']%>" value="<%=@query_params[fi['placeholder'].to_sym]%>">
				<% end %>
			<% end %>
			<input type="submit" class="btn btn-primary" value="Refresh">
		</form>
	<% end %>

	<div id="content"></div>

	<%= render :partial => "report_type_#{@report.report_type}" %>

<% end %>