<% content_for :js_init_code do %>
	<% if !@connection_error && !@query_error %>
	
	ChaiIo.initialize();
	var model = new ChaiIo.Models.Report();
	model.set({
		report: <%= @report.to_json.html_safe %>,
		report_type: '<%=@report.report_type%>',
		columns: <%= @columns.html_safe %>,
		data: <%= @data.html_safe %>,
		single_column_name: '<%= @name %>',
		single_value: '<%= @single_value %>'
	});
	
	window.App = new ChaiIo.Views.Reports<%=@report.report_type.capitalize%>({
		model: model,
		el: $('#content')});
	
	$('.datepicker').datepicker({"format": "yyyy-mm-dd"});
	window.App.render();
	
	<% end %>
<% end %>

<h1><%= @report.title %></h1>
<%= @report.description %>
<hr>

<% if @report.filters %>
	<form class="form-inline" method="GET" action="/reports/<%=@report.id%>">
		
		<% @report.filters.each do |i, fi|%>
			<label class="control-label"><%=fi['placeholder'].capitalize%></label>
			<input type="text" class="datepicker" data-behaviour='datepicker' 
				name="<%=fi['placeholder']%>" value="<%=@query_params[fi['placeholder'].to_sym]%>">
		<% end %>
		<input type="submit" class="btn btn-primary" value="Refresh">
	</form>
	
<% end %>

<div id="content"></div>

<%= render :partial => "report_type_#{@report.report_type}" %>