<% content_for :js_init_code do %>
	<% if !@connection_error && !@query_error %>
	
	ChaiIo.initialize();
	var model = new ChaiIo.Models.Report();
	model.set({
		report: <%= @report.to_json.html_safe %>,
		report_type: '<%=@report.report_type%>',
		columns: <%= @columns.html_safe %>,
		data: <%= @data.html_safe %>,
		single_column_name: '<%= @name %>',
		single_value: '<%= @single_value %>'
	});
	
	window.App = new ChaiIo.Views.Reports<%=@report.report_type.capitalize%>({
		model: model,
		el: $('#content')});
	
	window.App.render();
	
	<% end %>
<% end %>

<h1><%= @report.title %></h1>
<%= @report.description %>
<hr>

<div id="content"></div>

<%= render :partial => "report_type_#{@report.report_type}" %>