<% if !@connection_error && !@query_error %>

	<% content_for :js_init_code do %>
	
		var report_model = new ChaiIo.Models.Report().set({
			report: <%= @report.to_json.html_safe %>,
			report_type: '<%= @report.report_type %>',
			qparams: <%= @query_params.to_json.html_safe %>,
			filters: <%= @filters.to_json.html_safe %>,
			embedded: <%= @embed %>
		});

		var report_data = new ChaiIo.Models.ReportData().set({
			columns: <%= @columns.html_safe %>,
			data: <%= @data.html_safe %>});

		window.App = new ChaiIo.Views.ReportMain({ model: report_model, el: $('#main_container') });
		
		var reportTypeView = new ChaiIo.Views.Reports<%=@report.report_type.capitalize%>({ 
			model: report_model, 
			el: $('#content') 
		}).setReportData(report_data);

		window.App.setReportTypeView(reportTypeView);
		window.App.render();
		
	<% end %>
	
	<% unless @embed %>
	<h3><%= @report.title %></h3>
	<%= @report.description %>

	<hr>
	
	<!-- Filters -->
  <div id="dv-report-filter-container">
  	<div id="dv_filters"></div>
    <div id="sharing_container"></div> 
  </div>
	<%= render :partial => "report_filters" %>
	
	<% unless @public_report %>
		<hr/>
	<% end %>

	<% end %>	
	
	<!-- Content -->
	<div id="content"></div>

	<%= render :partial => "report_type_#{@report.report_type}" %>
<% end %>


<% unless @public_report %>

	<script type="text/html" id="tpl_sharing">
		{{#report}}
			{{#sharing_enabled}}
				<a id="btn-disable-sharing" href="javascript: void(0);" role="button" class="btn btn-default" data-loading-text="Loading...">Disable Sharing</a>
				<a id="btn-public-url" href="javascript: void(0);" role="button" class="btn btn-default">Public URL</a>
			{{/sharing_enabled}}
		
			{{^sharing_enabled}}
				<a id="btn-enable-sharing" href="javascript: void(0);" role="button" class="btn btn-default" data-loading-text="Loading...">Enable Sharing</a>
			{{/sharing_enabled}}
		{{/report}}
	</script>

	<!-- Modal -->
	<a data-toggle="modal" href="#sharingModal" id="aSharingModal" class="btn"></a>
  <div class="modal fade" id="sharingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Modal title</h4>
        </div>
        <div class="modal-body">
          <p>
						Your report has been shared to the following URL:
					</p>
					<p>
						<input id="txt_public_url" type="text" class="form-control" style="margin-left: 50px;">
            <a id="clipboard-button" href="javascript: void(0);" data-clipboard-text="">Copy to Clipboard!</a>
					</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<% end %>