<div class="navbar navbar-fixed-top" style="margin-left: 0px;">
	
	<div class="navbar-inner">
		<div class="container">
	
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">chai.io</a>
		
		  <% unless @public_report %>	
          	<div class="nav-collapse">
	            <ul class="nav">
				 
				  <li class="dropdown">
	                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">New <b class="caret"></b></a>
	                  <ul class="dropdown-menu">
	                    <li><a href="/projects/new">Report</a></li>
	                    <li><a href="/reports/new">Project</a></li>
	                    <li><a href="/datasources/new">Datasource</a></li>
	                  </ul>
				  </li>
				  <li class="<%= @active == 'projects' ? 'active': ''%>"><a href="/reports">Projects</a></li>
				<!--  <li class="<%= @active == 'reports' ? 'active': ''%>"><a href="/reports">All Reports</a></li>-->
	             <li class="<%= @active == 'datasources' ? 'active': ''%>"><a href="/reports">Datasources</a></li>
              
              
				  <li class="dropdown <%= @active == 'account' ? 'active': ''%>">
	                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Account <b class="caret"></b></a>
	                  <ul class="dropdown-menu">
	                    <li><a href="<%=edit_user_path(current_user)%>">Settings</a></li>
						<li>
							<%= link_to 'Sign out', '/logout', :method => :delete %>
						</li>
	                  </ul>
				  </li>
	            </ul>
	          </div><!--/.nav-collapse -->
		  <% end %>
        </div>
      </div>
</div>