<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">chai.io</a>
  </div>

  <% unless @public_report %> 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">New <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Project', new_project_path %></li>
            <li><%= link_to 'Datasource', new_datasource_path %></li>
          </ul>
        </li>

        <li class="<%= @active == 'projects' ? 'active': ''%>">
          <%= link_to 'Projects', projects_path %>
        </li>
        <li class="<%= @active == 'datasources' ? 'active': ''%>">
          <%= link_to 'Datasources', datasources_path %>
        </li>

        <li class="<%= @active == 'starred' ? 'active': ''%>">
          <%= link_to 'Favorite Reports', reports_starred_path %>
        </li>
        
        <li class="<%= @active == 'shared' ? 'active': ''%>">
          <%= link_to 'Shared Reports', reports_shared_path %>
        </li>
          
        <li class="dropdown <%= @active == 'account' ? 'active': ''%>">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">My Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="<%=edit_user_path(current_user)%>">Settings</a></li>
            <li>
                <%= link_to 'Sign out', session_path(current_user), :method => :delete %>
            </li>
          </ul>
        </li>


      </ul>
     
     <!-- Search -->
      <ul class="nav navbar-nav navbar-right">

        <form class="navbar-form navbar-left" role="search" action="<%= reports_search_path %>">
        <div class="form-group">
          <input name="q" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      
      </ul>
    </div><!-- /.navbar-collapse -->
  <% end %>

</nav>